[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = ">=1, <2"
bjoern = ">= 3, <4"
Flask = ">=1, <2"
macpepdb = {editable = true, ref = "dev", git = "https://github.com/mpc-bioinformatics/macpepdb.git"}
matplotlib = ">=3, <4"
piwikapi = "==0.3"
PyYAML = ">=5, <6"
psycopg2 = ">=2, <3"


[dev-packages]
pylint = "*"
honcho = "*"
requests = "*"

[requires]
python_version = "3.8"

[scripts]
tests = "bash -c 'python -m unittest tests/*_test_case.py'"
dev = "honcho start"
