{% extends "layouts/public.j2" %}

{% block body %}
    <h1>Proteins</h1>
    <div class="flex justify-content-center w-100">
        <form id="protein-accession-search" action="{{ url_for("protein_path", accession = "ACCESSION") }}" @submit="search($event)">
            <div class="input-group mb-3">
                <input class="form-control" type="text" v-model="accession" placeholder="Accession">

                <button class="btn btn-primary" type="button" @click="search">
                    <i class="fas fa-search"></i>
                    search
                </button>
            </div>
        </form>
    </div>
{% endblock %}