{% extends "layouts/public.j2" %}

{% block body %}
    <script type="text/x-template" id="modification-filter-template">
        <div id="modifications">
            <div class="divider">Modifications</div>

            <button class="btn btn-outline-link btn-sm pl-0" type="button" data-toggle="collapse" data-target="#modificiation-limitation-info" aria-expanded="false" aria-controls="modificiation-limitation-info">
                Read the modification limitation
                <i class="fas"></i>
            </button>

            <div class="collapse" id="modificiation-limitation-info">
                <p>
                    Be aware of the following limitations:
                </p>
                <ol>
                    <li>A maximum of 9 variable modifications (anywhere and n/c-terminal residue)</li>
                    <li>Only 1 static n-terminus modification (applied to the terminus, not the terminal amino acid residue)</li>
                    <li>Only 1 static c-terminus modification (applied to the terminus, not the terminal amino acid residue)</li>
                    <li>Static modification for the terminal residues are not possible</li>
                </ol>
            </div>

            <div class="row mb-3">
                <label for="variable-modification-maximum" class="col-sm-2 col-form-label">Variable modification maximum*</label>
                <div class="col-sm-10 d-flex align-items-center">
                    <input id="variable-modification-maximum" class="form-control mb-3" type="number" min="0" v-model.number="variable_modification_maximum">
                </div>
            </div>

            
            <div class="input-group mb-3">
                <select class="form-select" v-model="new_modification.amino_acid">
                    <option :value="null" disabled>Amino acid</option>
                    {% for amino_acid in amino_acids %}
                        <option value="{{ amino_acid.one_letter_code }}">{{amino_acid.one_letter_code}} - {{amino_acid.name}}</option>
                    {% endfor %}
                </select>

                <select class="form-select" v-model="new_modification.position">
                    <option :value="null" disabled>Position</option>
                    {% for position in modification_positions %}
                        <option value="{{position}}">{{position}}</option>
                    {% endfor %}
                </select>

                <select class="form-select" v-model="new_modification.is_static">
                    <option :value="null" disabled>Type</option>
                    <option :value="true">static</option>
                    <option :value="false">variable</option>
                </select>

                <input class="form-control" type="number" v-model.number="new_modification.delta" placeholder="Modification mass (in Dalton)" step="any" >

                <button type="button" class="btn btn-primary" @click="addModification()">
                    <i class="fas fa-plus"></i>
                    Add modification
                </button>
            </div>

            <div v-if="show_invalid_new_modification_alert" class="alert alert-danger mt-3 px-1 py-1" role="alert">
                Please choose an amino acid, a position, a type and a weight to create a new modification.
            </div>

            <table class="table mb-3" v-if="modifications.length">
                <thead>
                    <tr>
                        <th>
                            Amino acid
                        </th>
                        <th>
                            Position
                        </th>
                        <th>
                            Type
                        </th>
                        <th colspan="2">
                            Mass delta
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(modification, idx) in modifications">
                        <td>
                            [[ modification.amino_acid ]]
                        </td>
                        <td>
                            [[ modification.position ]]
                        </td>
                        <td>
                            [[ modification.is_static ? 'static' : 'variable' ]]
                        </td>
                        <td>
                            [[ modification.delta ]]
                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm" type="button" @click="removeModification(idx)">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    <tr v-if="!modifications.length">
                        <td colspan="5">
                            No modifications added
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </script>

    <script type="text/x-template" id="sequence-digest-template">
        <div v-show="show">
            <div class="divider">Digestion settings</div>

            <div class="row mb-3">
                <label for="maximum-number-of-missed-cleavages" class="col-sm-2 col-form-label">Maximum number of missed cleavages*</label>
                <div class="col-sm-10 d-flex align-items-center">
                    <input id="maximum-number-of-missed-cleavages" class="form-control mb-3" type="number" v-model.number="maximum_number_of_missed_cleavages" min="0">
                </div>
            </div>

            <div class="row mb-3">
                <label for="minimum-peptide-length" class="col-sm-2 col-form-label">Minimum peptide length*</label>
                <div class="col-sm-10 d-flex align-items-center">
                    <input id="minimum-peptide-length" class="form-control" type="number" v-model.number="minimum_peptide_length" placeholder="Minimum peptide length" min="0">
                </div>
            </div>

            <div class="row mb-3">
                <label for="maximum-peptide-length" class="col-sm-2 col-form-label">Maximum peptide length*</label>
                <div class="col-sm-10 d-flex align-items-center">
                    <input id="maximum-peptide-length" class="form-control" type="number" v-model.number="maximum_peptide_length" min="0">
                </div>
            </div>
            

            <ul>
                <li v-for="error in errors">[[ error ]]</li>
            </ul>

            <div class="d-flex justify-content-center" v-if="is_digesting">
                <div class="spinner-border text-primary" role="status"></div>
            </div>

            <div class="digested-peptides" v-if="peptides.length">
                <p class="mb-0">
                    Digestion results in [[ peptides.length ]] peptide(s). If you click a peptide mass, it will be used as weight for the search.
                </p>
                
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Sequence
                            </th>
                            <th>
                                Theoretical mass
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="peptide in peptides_of_current_page" :class="{'table-active': selected_peptide && selected_peptide.sequence == peptide.sequence}" @click="setSelectedPeptide(peptide)">
                            <td>
                                [[ peptide.sequence ]]
                            </td>
                            <td>
                                [[ peptide.weight ]]
                            </td>
                        </tr>
                    </tbody>
                </table>

                <nav class="d-flex w-100 justify-content-center mt-3" v-if="peptides.length > peptides_per_page">
                    <ul class="pagination flex-wrap">
                        <li v-for="page_idx in page_count" class="page-item" :class="{'active': (page_idx - 1) == current_peptides_page}">
                            <button class="page-link" type="button" @click="goToPage(page_idx - 1)">
                                [[ page_idx ]]
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="taxonomy-filter-template">
        <div>
            <div class="divider">Taxonomy settings</div>

            <div class="row mb-3">
                <label for="taxonomy-query" class="col-sm-2 col-form-label">Taxonomy name or ID (optional)</label>
                <div class="col-sm-10 d-flex align-items-center">
                    <input id="taxonomy-query" class="form-control" type="text" v-model="query">
                </div>
            </div>

            <div class="d-flex justify-content-center" v-if="is_searching">
                <div class="spinner-border text-primary" role="status"></div>
            </div>

            <ul v-if="!search_results.length && selected_taxonomy" class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    [[ selected_taxonomy.id ]] - [[ selected_taxonomy.name ]]
                    <button @click="unselect()" class="btn btn-danger btn-sm">
                        <i class="fas fa-times"></i>
                    </button>
                </li>
            </ul>

            <div class="list-group">
                <button v-for="taxonomy in search_results" @click="select(taxonomy)" class="list-group-item list-group-item-action">
                    [[ taxonomy.id ]] - [[ taxonomy.name ]]
                </button>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="mass-tolerance-filter-template">
        <div>
            <div class="divider">Precursor tolerance</div>

            <div class="row mb-3">
                <label for="lower-mass-tolerance" class="col-sm-2 col-form-label">Lower precursor tolerance in ppm*</label>
                <div class="col-sm-10 d-flex align-items-center">
                    <input id="lower-mass-tolerance" class="form-control" type="number" min="0" v-model.number="lower_tolerance">    
                </div>
            </div>

            <div class="row mb-3">
                <label for="upper-mass-tolerance" class="col-sm-2 col-form-label">Upper precursor tolerance in ppm*</label>
                <div class="col-sm-10 d-flex align-items-center">
                    <input id="upper-mass-tolerance" class="form-control" type="number" min="0" v-model.number="upper_tolerance"> 
                </div>
            </div>
        </div>
    </script>


    <div id="peptide-search"
        class="position-relative" 
        data-peptide-search-api-url="{{ url_for("api_peptide_search_path") }}" 
        data-peptide-url="{{ url_for("peptide_path", sequence = "SEQUENCE") }}"
        data-peptide-api-url="{{ url_for("api_peptide_path", sequence = "PEPTIDE") }}"
        data-peptides-per-page="{{ peptides_per_page }}"
        data-peptide-weight-api-url="{{ url_for("api_peptide_weight_path", sequence = "SEQUENCE") }}"
    >
        <div v-if="is_searching_for_peptides" class="search-peptides-overlay position-absolute w-100 h-100 d-flex justify-content-center align-items-center overflow-hidden">
            <div class="bg-blur"></div>
            <div class="spinner-border text-primary position-absolute" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <h1>Peptide search</h1>

        <form action="{{ url_for("api_peptide_search_path") }}" method="post">

            <div id="search-for" class="divider">Search for</div>

            <div class="input-group mb-3">
                <input class="form-control" type="number" step="any" placeholder="Theoretical mass" min="0" :value="theoretical_mass" @input="setTheoreticalMass">

                <span class="input-group-text">or</span>

                <input class="form-control" type="text" placeholder="Sequence" :value="sequence" @input="setSequence">

                <span class="input-group-text">or</span>

                <input class="form-control" type="text" placeholder="Protein accession" :value="protein_accession" @input="setProteinAccession">
            </div>

            <div id="sequence-handling" v-if="show_sequence_handling">
                <div class="divider">How to handle the sequence</div>
                
                <select class="form-select mb-3" aria-label="Default select example" v-model="sequence_handling">
                    <option :value="null" disabled>Choose...</option>
                    <option value="sequence_search">Search for sequence</option>
                    <option value="use_theoretical_mass">Use theoretical mass of sequence</option>
                    <option value="digest">Digest sequence</option>
                </select>

                <div class="d-flex justify-content-center" v-if="is_getting_sequence_weight">
                    <div class="spinner-border text-primary" role="status"></div>
                </div>

                <p v-if="sequence_handling == 'use_theoretical_mass' && is_mass_valid && !is_getting_sequence_weight">
                    Seuqence weight: [[ $store.state.mass ]]
                </p>
            </div>

            <sequence_digest
                :digest_api_url="'{{ url_for("api_protein_digest_path") }}'"
                :peptides_per_page="{{ digest_peptides_per_page }}"
                :show="show_sequence_digest"
            ></sequence_digest>
            
            <taxonomy_filter
                :taxonomy_search_api_url="'{{ url_for("api_taxonomy_search_path") }}'"
            ></taxonomy_filter>

            <mass_tolerance_filter></mass_tolerance_filter>

            <modification_filter></modification_filter>

            <div id="result-order">
                <div id="search-for" class="divider">Result order</div>

                <div class="row mb-3">
                    <label for="order-by" class="col-sm-2 col-form-label">Order by</label>
                    <div class="col-sm-10 d-flex align-items-center">
                        <select id="order-by" class="form-select" v-model="order_by">
                            <option value="weight">Mass</option>
                            <option value="length">Length</option>
                            <option value="sequence">Sequence</option>
                            <option value="number_of_missed_cleavages">Missed cleavages</option>
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="order-by" class="col-sm-2 col-form-label">Order direction</label>
                    <div class="col-sm-10 d-flex align-items-center">
                        <select class="form-select" v-model="order_direction">
                            <option value="asc">Ascending</option>
                            <option value="desc">Descending</option>
                        </select>
                    </div>
                </div>
            </div>

            <div id="additional-filtet">
                <div id="search-for" class="divider">Additional filter</div>

                <div class="row mb-3">
                    <div class="col-sm-2 col-form-label">Uniprot Database</div>
                    <div class="col-sm-10 d-flex align-items-center">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="swiss-prot-and-trembl" :value="null" v-model="is_reviewed">
                            <label class="form-check-label" for="swiss-prot-and-trembl">Both</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="swiss-prot-only" :value="true" v-model="is_reviewed">
                            <label class="form-check-label" for="swiss-prot-only">Swiss-Prot</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="trembl-only" :value="false" v-model="is_reviewed">
                            <label class="form-check-label" for="trembl-only">TrEMBL</label>
                        </div>
                    </div>
                </div>
            </div>

        </form>

        <div class="mt-3">
            <button class="btn btn-primary mb-3" type="button" @click="searchPeptidesByWeight()" :disabled="!is_mass_valid">
                search
            </button>
        </div>

        <div class="peptide-matches">
            <div v-if="peptides">
                <p class="mb-0">
                    Found [[ peptide_count ]] peptide(s).
                </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Sequence
                            </th>
                            <th>
                                Theoretical mass
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="peptide in peptides">
                            <td>
                                <a target="_blank" :href="getPeptideUrl(peptide)">[[ peptide.sequence ]]</a>
                            </td>
                            <td>
                                [[ peptide.weight ]]
                            </td>
                        </tr>
                    </tbody>
                </table>

                <nav class="mt-3" v-if="peptide_page_count > 1">
                    <div class="col d-flex justify-content-center">
                        <ul class="pagination flex-wrap">
                            <li v-for="page in peptide_pagination" class="page-item" :class="{'active': (page) == current_peptide_page}">
                                <button v-if="page != null && page != current_peptide_page" page class="page-link" type="button" @click="goToPeptidePageNumber(page)">
                                    [[ page + 1 ]]
                                </button>
                                <input v-else-if="page != null && page == current_peptide_page" class="form-control text-center text-decoration-underline" type="number" :value="page + 1" min="1" :max="peptide_page_count" @input="setNewPageManually($event)">
                                <button v-else page class="page-link" type="button" disabled>
                                    ...
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <small>
                            Hint: You can manually write a page number into the selected page (the one with the blue background). It will automatically jump to the given page.
                        </small>
                    </div>
                </nav>
            </div>
            <div id="search-errors" class="alert alert-danger fade show" role="alert" v-if="errors.length">
                <ul class="mb-0">
                    <li v-for="error in errors">[[ error ]]</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}