{% extends "layouts/public.j2" %}

{% block body %}
    <div id="peptide-view">
        <h1>Peptide: {{ peptide.sequence }}</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Attribute
                    </th>
                    <th>
                        Value
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>
                        Sequence
                    </th>
                    <td class="text-break">
                        <CodeBlock :code="'{{ peptide.sequence }}'" :identifier="'protein-sequence'" :line_length="60"></CodeBlock>
                    </td>
                </tr>
                <tr>
                    <th>
                        Theoretical mass
                    </th>
                    <td>
                        {{ mass_to_float(peptide.mass) }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Length
                    </th>
                    <td>
                        {{ peptide.length }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Missed cleavages
                    </th>
                    <td>
                        {{ peptide.number_of_missed_cleavages }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Taxonomies
                    </th>
                    <td>
                        <ul>
                            {% for id in peptide.metadata.taxonomy_ids %}
                                {% with taxonomy = taxonomies[id] %}
                                    <li>{% include "partials/taxonomy_link.j2" %}</li>
                                {% endwith %}
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>
                        Unique for taxonomies
                    </th>
                    <td>
                        <ul>
                            {% for id in peptide.metadata.unique_taxonomy_ids %}
                                {% with taxonomy = taxonomies[id] %}
                                    <li>{% include "partials/taxonomy_link.j2" %}</li>
                                {% endwith %}
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>
                        Proteomes IDs
                    </th>
                    <td>
                        {{ peptide.metadata.proteome_ids | join(", ") }}
                    </td>
                </tr>
                <tr>
                    <th>
                        SwissProt/TrEMBL
                    </th>
                    <td>
                        {% if peptide.metadata.is_swiss_prot %}
                            <i class="fas fa-check">
                        {% else %}
                            <i class="fas fa-times">
                        {% endif %}
                        /
                        {% if peptide.metadata.is_trembl %}
                            <i class="fas fa-check">
                        {% else %}
                            <i class="fas fa-times">
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>

        <h2>Proteins</h2>
        <div class="table-responsive-sm">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Accession
                        </th>
                        <th>
                            Proteinname
                        </th>
                        <th>
                            Taxonomy
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for protein in proteins %}
                        <tr>
                            <th>
                                <a href="{{ url_for("protein_path", accession = protein.accession) }}" target="_blank">{{ protein.accession }}</a>
                            </th>
                            <td>
                                {{ protein.name }}
                            </td>
                            {% set taxonomy = taxonomies[protein.taxonomy_id] %}
                            <td>
                                {% with taxonomy = taxonomies[protein.taxonomy_id] %}
                                    {% include "partials/taxonomy_link.j2" %}
                                {% endwith %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}