{% extends "layouts/public.j2" %}
{% block body %}
    <div class="dashboard">
        <h1>Welcome to MaCPepDB - Mass Centric Peptide Database</h1>
        <div class="card mb-3">
            <div class="card-body">
                <p>From here you have two options to search the database:</p>
                <ol>
                    <li>Start by searching for a protein by its Accession. From here you can search the peptides contained in the protein.</li>
                    <li>Start by searching for peptides. There are several possibilities. Search directly for a sequence or a weight, digest a sequence or a protein and use the weight of one of the resulting peptides. You also have the possibility to refine the search with various filters.</li>
                    <p>Both options are available in the menu.</p>
                <ol>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col col-md-6">
                <div class="card mb-3">
                    <div class="card-header">
                        Database status
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Paramter</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Maintenance mode</th>
                                    <td>{{ database_status['maintenance_mode'] }}</td>
                                </tr>
                                <tr>
                                    <th>Last finished update</th>
                                    <td>{{ database_status['last_update'] }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        Digestion paramters
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Paramter</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Enzyme</th>
                                    <td>{{ digestion_paramters['enzyme_name'] }}</td>
                                </tr>
                                <tr>
                                    <th>Allowed missed cleavages</th>
                                    <td>{{ digestion_paramters['maximum_number_of_missed_cleavages'] }}</td>
                                </tr>
                                <tr>
                                    <th>Peptide length</th>
                                    <td>{{ digestion_paramters['minimum_peptide_length'] }} - {{ digestion_paramters['maximum_peptide_length'] }} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="card">
                    <div class="card-header">
                        Peptides
                    </div>
                    <div class="card-body">
                        <p><b>Total:</b> {{peptide_count}}</p>
                        <p><b>Peptides per partition</b></p>
                        <figure class="matplotlib bar-chart">{{ peptide_partitions_svg }}</figure>

                        <button class="btn btn-outline-link btn-sm pl-0" type="button" data-toggle="collapse" data-target="#peptide-estimation-description" aria-expanded="false" aria-controls="peptide-estimation-description">
                            These are only estimates that fluctuate a little from time to time. Read why ....
                            <i class="fas"></i>
                        </button>

                        <div class="collapse" id="peptide-estimation-description">
                            <p>
                                Counting the peptides with <code>SELECT count(*) ...</code> needs serveral minutes for each partition and locks the table for other operations.
                                With PostgreSQLs <code>pg_class</code>-view it is possible to create a good estimation, based on the actual diskspace. This view will change from time to time, due to internal maintenance work by PostgreSQL itself.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-12">
                <div class="card">
                    <div class="card-header">
                        Peptide partition information
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Partition</th>
                                    <th>Lower boundary (Dalton)</th>
                                    <th>Upper boundary (Dalton)</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for partition in partition_boundaries %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ mass_to_float(partition[1]) }}</td>
                                        <td>{{ mass_to_float(partition[2]) }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

